<template>
  <div class="page-container about-page-padding">
    <FloatingBack/>
    <SimpleBanner 
      v-bind:path="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/banners%2Fdense-compressor.png?alt=media&token=774a7d3e-3abe-4d70-8e17-d56d52fb1807'"
      v-bind:title="'Drift'"
      v-bind:id="'drift-banner'"
      v-bind:color="'#a4abb9'"
    />
    <div class="page-content">
      <div class="max-width-row">
        <div class="honor-max-width">
          <div class="page-details">
            <div class="about-row">
              <div class="about-column-left">
                <h4>Virtual Tours</h4>
                <p class="about-p">Drift allows users to create panoramic tours, capture and edit photos, and record 360 walk-arounds from a mobile app. The photos and videos recorded in the app are stored in a serverless database and sent through a CDN. This allows the user to share virtual tours of a vehicle in a clean interface and manage their photo assets from a single location.</p>
                <h4>Development</h4>
                <p class="about-p">Drift VR is powered by a mobile app, NoSQL cloud database, SSO Authentication, a single page web app, and a ThreeJS panoramic tour. I am responsible for designing and developing every aspect of this application.</p>
              </div>
            </div>
            <div class="about-image-container">
            <Carousel
              v-bind:paths="[
                'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drift%2Fartboard2.jpg?alt=media&token=195c9462-e4e6-4489-ad0b-9a196d4586a9',
                'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drift%2FArtboard-3-compressor.jpg?alt=media&token=6914ba69-8976-42dc-a13b-3a4f1053e0da',
                'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drift%2FArtboard-4-compressor.jpg?alt=media&token=c59db444-d167-4ad7-9f58-f9ff8f203007',
                'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drift%2FArtboard-5-compressor.jpg?alt=media&token=1828ba31-3683-4e6c-99b1-a3599a83a6e2',
                'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drift%2FArtboard-6-compressor.jpg?alt=media&token=7fa5b1a9-7a88-4fda-8639-f35b991be5ae',
                'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drift%2FArtboard-8-compressor.jpg?alt=media&token=26ac85a2-351d-4052-ae35-ff78668f91a9',
              ]"
            />
          </div>
          <div class="about-wide-col video-wide">
            <VideoPlayer 
                v-bind:title="'drift-video'"
                v-bind:image="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drift%2Fdriftxd-compressor.png?alt=media&token=e6292ab5-502f-46c5-b3b5-149b853212f7'" 
                v-bind:video="require('@/assets/videos/drift.mp4')"
              />
          </div>
          <div class="about-center">
            <div id="xd-drift-container">
              <PhotoCard v-bind:image="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/drift%2Fdriftxd-compressor.png?alt=media&token=e6292ab5-502f-46c5-b3b5-149b853212f7'" v-bind:id="'drift-xd'"/></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import SimpleBanner from '@/components/SimpleBanner.vue'
import FloatingBack from '@/components/FloatingBack.vue'
import DescriptionTemplate from '@/components/DescriptionTemplate.vue'
import Carousel from '@/components/Carousel.vue'
import PhotoCard from '@/components/PhotoCard.vue'
import VideoPlayer from '@/components/VideoPlayer.vue'

export default {
  name: 'DrinksOnMe',
  components: {
    SimpleBanner,
    FloatingBack,
    DescriptionTemplate,
    Carousel,
    PhotoCard,
    VideoPlayer
  },
  data() {
    return {

    }
  },
  mounted(){
  
  }
}
</script>

<style lang="scss">
@import '@/global.scss';

#xd-drift-container{
  width: 700px;
  height: 900px;
}
.video-wide{
  height: 700px;
}
@media only screen and (max-width: 900px) {
  #xd-drift-container{
    width: 100%;
    height: 700px;
  }
  .video-wide{
    margin-bottom: 50px !important;
    margin-top: 50px !important;
    height: 500px;
  }
}
@media only screen and (max-width: 600px) {
  .video-wide{
    margin-bottom: 40px !important;
    margin-top: 40px !important;
    height: 300px;
  }
}


h4{
  color: white !important;
}


</style>


