<template>
  <div class="card-grid-container">
    <FloatingCard v-bind:onPressed="open" v-bind:id="'jupiter-q-card'" v-bind:title="'Jupiter'" v-bind:background="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/banners-compressed%2Freal-comp.png?alt=media&token=4c4baa73-36b6-4864-b8e1-83030d8f36f9'"/>
    <FloatingCard v-bind:onPressed="open" v-bind:id="'drinks-q-card'" v-bind:title="'Drinks on Me'" v-bind:background="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/banners-compressed%2Fdark-01-comp.png?alt=media&token=10e15165-6652-4627-847c-4893b68873b3'"/>
    <FloatingCard v-bind:onPressed="open" v-bind:id="'drift-q-card'" v-bind:title="'Drift'" v-bind:background="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/banners-compressed%2Ffog2-compressor.jpg?alt=media&token=878125f0-7f81-4e50-81cb-b869effb883c'"/>
    <FloatingCard v-bind:onPressed="open" v-bind:id="'safety-q-card'" v-bind:title="'PIMS Safety'" v-bind:background="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/banners-compressed%2Fsafety.png?alt=media&token=76d8824a-b359-4c39-af26-0e7c6d5ac531'"/>
    <FloatingCard v-bind:onPressed="open" v-bind:id="'mobile-q-card'" v-bind:title="'PIMS Mobile'" v-bind:background="'https://firebasestorage.googleapis.com/v0/b/portfolio-a6249.appspot.com/o/banners-compressed%2Fpims-comp.png?alt=media&token=c3d384f2-4aed-4e4e-a7d8-dbfe40f45b5f'"/>
  </div>
</template>

<script>
import FloatingCard from '@/components/FloatingCard.vue'
export default {
  name: 'CardGrid',
  components: {
    FloatingCard
  },
  methods: {
    open(path){
      if (path == 'jupiter-q-card'){
        this.$router.push({ path: 'jupiter' });
      } else if (path == 'drinks-q-card'){
        this.$router.push({ path: 'drinks-on-me' });
      } else if (path == 'mobile-q-card'){
        this.$router.push({ path: 'pims-mobile' });
      } else if (path == 'safety-q-card'){
        this.$router.push({ path: 'pims-safety' });
      } else if (path == 'drift-q-card'){
        this.$router.push({ path: 'drift' });
      }
    }
  }

}
</script>

<style lang="scss">
@import '@/global.scss';

.card-grid-container{
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(90px, auto);
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 640px) {
  .card-grid-container{
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(90px, auto);
  }
}


</style>

