<template>
  <div class="floating-back-button" v-on:click="goBack">
    <div class="back-arrow"></div>
  </div>
</template>

<script>

export default {
  name: 'FloatingBack',
  methods: {
    goBack(){
      this.$router.go(-1);
    }
  }
}
</script>

<style lang="scss">
  @import '@/global.scss';
  .floating-back-button{
    width: 64px;
    height: 64px;
    border-radius: 100px;
    z-index: 9000;
    position: fixed;
    bottom: 15px;
    left: 15px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  }
  .back-arrow{
    background-image: url('~@/assets/images/back3@2x.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height:100%;

  }

</style>
