<template>
  <div class="floating-card" v-on:click="clicked">
    <div class="card-image-background" v-bind:id="this.id"></div>
    <div class="card-image-gradient"></div>
    <div class="card-title-cont">
      <h5 id="card-title">{{this.title}}</h5>
    </div>  
  </div>
</template>

<script>

export default {
  name: 'FloatingCard',
  props:{
    title: String,
    onPressed: Function,
    background: String,
    id: String
  },
  mounted(){
    this.loadImage();
  },
  methods: {
    clicked(){
      this.onPressed(this.id)
    },
    loadImage(){
      if (this.background == undefined || this.background == "") return;
      var temp = new Image();
      temp.onload = (event)=>{
        var image = document.getElementById(this.id);
        image.setAttribute("style", "background-image: url(" + temp.src + ")");
      }
      temp.src = this.background;
      if (temp.complete) {
        temp.onload();
      }
    }
  },
}
</script>

<style lang="scss">
  .floating-card{
    width: 100%;
    height: 100%;
    background-color: #1B1D26;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
    border-radius: 8px;
    animation: fadein 1s;
    transition: all 0.4s;
    cursor: pointer;
    overflow: hidden;
    z-index: 5;
  }

  .card-image-background{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
    position: absolute;
  }

  .card-image-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 5, 7, 0.301);
  }

  .card-title-cont{
    position: absolute;
    left: 0.0;
    padding: 20px;
  }

  #card-title{
    font-size: 19px !important;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
  }

  @media (hover: hover) { 
    .floating-card:hover{
      background-size: 160%;
      transform: scale(1.1, 1.1);
      z-index: 100;
    }
  }

  @media only screen and (max-width: 640px) {
    #card-title{
      //font-size: 16px !important;
    }
  }


</style>
