<template>
  <div class="page-banner-image" id='home-banner'>
    <div class="banner-gradient">
      <div class="max-width-row">
        <div class="honor-max-width center-column" id="jakes-content">
          <div id="jake-crawford">Jake Crawford</div>
          <div class="about-me-description">
            <p>I have over four years of professional experience developing mobile and web apps from the ground up. My skillset includes UI/UX design and development, noSQL databases, asynchronous programming with REST and streaming API’s, and meeting deadlines in agile environments.</p>
          </div>
          <div class="signature"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import anime from 'animejs';
export default {
  name: 'PageBanner',
  props: {
    path: String
  },
  mounted(){
    this.loadImage();
  },
  methods: {
    loadImage(){
      if (this.path == undefined || this.path == "") return;
      var temp = new Image();
      temp.onload = (event)=>{
        var image = document.getElementById('home-banner');
        image.setAttribute("style", "background-image: url(" + temp.src + ")");
        anime({
          targets: image,
          duration: 400,
          opacity: 1.0,
        });
      }
      temp.src = this.path;
      if (temp.complete) {
        temp.onload();
      }
    }
  },
  watch: {
    path(){

    },
  },
}
</script>

<style scoped lang="scss">
@import '@/global.scss';

.page-banner-image {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: $dark-background;
  justify-content: center !important;
  align-content: center !important;
  //background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  //position: absolute;
  opacity: 0;
  z-index: 0;
}
.banner-gradient{
  background: linear-gradient(0deg, rgba(4,8,15,1) 5%, rgba(0,6,16,0.55) 100%);
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.center-column{
  align-self: center;
  padding-bottom: 100px;
}
#jake-crawford{
  font-family: "Gilroy";
  color: white;
  font-size: 70px;
}
.about-me-description{
  max-width: 880px;
  padding-left: 10px;
  font-family: "Roboto";
  margin-top: 4px;
  margin-bottom: 10px;
  font-size: 16px;
  color: white;
}
.signature{
  background-image: url('~@/assets/images/signature@2x.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 223px;
  height: 86px;
  margin-top: 5px;
}

@media only screen and (max-width:700px) {
  .title{
    font-size: 34px;
  }
  .about-me-description{
    max-width: 880px;
    padding-left: 5px;
    font-family: "Roboto";
    font-size: 16px;
    color: white;
  }
  #jake-crawford{
    font-size: 34px;
    margin-bottom: 5px;
  }
  .signature{
    background-image: url('~@/assets/images/signature@2x.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 178px;
    height: 68px;
    margin-top: 5px;
  }
  .page-banner-image {
    height: 90vh;
  }
  #jakes-content{
    margin-bottom: 15vh;
    align-self: flex-end !important;
  }
}

</style>
