<template>
  <div class="pdf-card">
    <a class="wide-link" v-bind:href="this.link" target="_blank">
      <div class="max-width-row pdf-row">
        <div class="pdf-icon"></div>
        <div class="start-column">
          <h6>{{this.title}}</h6>
          <p>Click to view</p>
        </div>
      </div>
    </a>
  </div>
</template>

<script>

export default {
  name: 'PDFCard',
  props:{
    title: String,
    link: String 
  },
  mounted(){

  },
  methods: {
    
  },
}
</script>

<style lang="scss">
  .wide-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-content: center !important;
    justify-content: center !important;
    align-items: center !important;
    justify-items: center !important;
  }
  .pdf-card{
    width: 100%;
    height: 100%;
    background-color: #1B1D26;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.50);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    position: relative;
     border-radius: 8px;
    cursor: pointer;
    animation: fadein 1s;
    transition: all 0.4s;
  }
  .pdf-row{
    display: flex;
    align-content: center !important;
    justify-content: flex-start !important;
    align-items: center !important;
    justify-items: center !important;
    margin-left: 15px;
  }

  .pdf-icon{
    background-image: url('~@/assets/images/pdf4@3x.png');
    background-size: 100%;
    background-repeat: no-repeat;
    width: 55px;
    height: 70px;
    opacity: 0.8;
  }
  .center-align{
    text-align: center;
  }
  .start-column{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    justify-items: center;
  }

  @media (hover: hover) { 
    .pdf-card:hover{
      background-size: 160%;
      transform: scale(1.1, 1.1);
      z-index: 100;
    }
  }

  @media only screen and (max-width: 640px) {
    .pdf-icon{
      width: 45px;
      height: 60px;
      opacity: 0.8;
    }
  }

</style>
