<template>
  <div class="pdf-links-container">
    <PDFCard v-bind:title="'Style Guide'" v-bind:link="'https://drive.google.com/file/d/1nVkK4kUqqhJL_VJCKgcNUtvoxtQEzcgT/view?usp=sharing'"/>
    <PDFCard v-bind:title="'Mobile Concept'" v-bind:link="'https://drive.google.com/file/d/1JG1kdKR7wtTZmTzC3hb0PThXRn-JbZ_T/view?usp=sharing'"/>
    <PDFCard v-bind:title="'Safety Concept'" v-bind:link="'https://drive.google.com/file/d/1k1lCb1C_-OGtGmtd1decbKEgOPSXzCvq/view?usp=sharing'"/>
    
  </div>
</template>

<script>
import PDFCard from '@/components/PDFCard.vue'
export default {
  name: 'PDFLinks',
  props:{
    imagePaths: Array,
  },
  components: {
    PDFCard
  }
}
</script>

<style lang="scss">

.pdf-links-container{
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 640px) {
  .pdf-links-container{
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(80px, auto);
  }
}

</style>
