<template>
  <div class="photo-card" v-bind:id="this.id">

  </div>
</template>

<script>

export default {
  name: 'PhotoCard',
  props:{
    image: String,
    id: String,
    backgroundSize: String,
  },
  mounted(){
    this.loadImage();
  },
  methods: {
    loadImage(){
      if (this.image == undefined || this.image == "") return;
      var temp = new Image();
      temp.onload = (event)=>{
        var image = document.getElementById(this.id);
        image.setAttribute("style", "background-image: url(" + temp.src + ")");

      }
      temp.src = this.image;
      if (temp.complete) {
        temp.onload();
      }
    }
  },
}
</script>

<style lang="scss">
  .photo-card{
    background-color: #0E0E17; 
    width: 100%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    background-size: cover;
  }
</style>
