<template>
  <div class="page-banner-image" v-bind:id="this.id">
    <div class="banner-gradient">
      <div class="max-width-row">
        <div class="honor-max-width center-column">
          <div class="title" v-bind:style="{ 'color': this.getColor(this.color) }">{{this.title}}</div>
          <!--<div class="description">{{this.description}}</div>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import anime from 'animejs';
export default {
  name: 'SimpleBanner',
  props: {
    path: String,
    title: String,
    id: String,
    color: String
  },
  mounted(){
    this.loadImage();
  },
  methods: {
    getColor(swatch){
      console.log(swatch);
      return (swatch == null || swatch == '') ? 'white' : swatch;
    },
    loadImage(){
      if (this.path == undefined || this.path == "") return;
      var temp = new Image();
      temp.onload = (event)=>{
        var image = document.getElementById(this.id);
        image.setAttribute("style", "background-image: url(" + temp.src + ")");
        anime({
          targets: image,
          duration: 400,
          opacity: 1.0,
        });
      }
      temp.src = this.path;
      if (temp.complete) {
        temp.onload();
      }
    }
  },
  watch: {
    path(){

    },
  },
}
</script>

<style scoped lang="scss">
@import '@/global.scss';

.page-banner-image {
  display: flex;
  height: 50vh;
  width: 100%;
  background-color: $dark-background;
  justify-content: center !important;
  align-content: center !important;
  //background-image: url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
  //position: absolute;
  opacity: 0;
  z-index: 0;
}
.banner-gradient{
  background: linear-gradient(0deg, rgba(4,8,15,1) 5%, rgba(0,6,16,0.55) 100%);
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.center-column{
  align-self: center;
  padding-bottom: 100px;
}

.title{
  font-family: "Gilroy";
  color: white;
  font-size: 90px;
}
.description{
  max-width: 880px;
  padding-left: 10px;
  font-family: "Roboto";
  font-size: 17px;
  color: white;
}
.signature{
  background-image: url('~@/assets/images/signature@2x.png');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 223px;
  height: 86px;
  margin-top: 5px;
}
@media only screen and (max-width:700px) {
  .title{
    font-size: 54px;
  }
}

</style>
