<template>
  <div class="skills-grid-container center-column">
    <div class="skill-grid">
      <div class="max-height-column skill-column">
        <div class="skill-card">
          <div class="skill-icon" id="google-cloud-icon"></div>
          <p>I can create custom serverless backends with Google App Engine, and execute CRUD operations on noSQL data stores.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="version-icon"></div>
          <p>I have over 7 years of experience using git to complete team projects by branching and merging.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="swift-icon"></div>
          <p>I have three years of experience developing OOP apps in Swift, debugging an Xcode workspace, and working with third party cocoapod plugins. I have created basic PDF editing tools, and multiple camera UIs that post images to cloud storage API's</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="flutter-icon"></div>
          <p>I have over three years of developing Flutter apps, and writing native platform functions through platform channels.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="IR-icon"></div>
          <p>I am writing RCNN object detection models for machine learning, which will be used in safety programs at AstraZeneca and Merck Inc with Tensor Flow and Google Cloud </p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="ae-icon"></div>
          <p>I have professional experience creating app promo videos that highlight features for potential clients.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="html5-icon"></div>
          <p>I can very easily develop perfectly aligned webpages against UI mockups. CSS flexbox, grid layout, and scss are all tools i use to complete responsive webpages (like this one).</p>
        </div>
         <div class="skill-card">
          <div class="skill-icon" id="android-icon"></div>
          <p>As a cross platform developer I have experience writing native Android functions and deploying to the Google Play Store.</p>
        </div>
         <div class="skill-card">
          <div class="skill-icon" id="blender-icon"></div>
          <p>I have over 10 years of experience modeling, character rigging, and creating realistic textures in Blender. Animation was my first love and has sparked my interest ever since elementary school.</p>
        </div>
         <div class="skill-card">
          <div class="skill-icon" id="pr-icon"></div>
          <p>I have several years of experience creating promotions in Premiere Pro, and can develop trailers that highlight product features for clients.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="slack-icon"></div>
          <p>I'm always available on slack and prefer collaborative team efforts during sprints. Additionally I have integrated slacks API as a method for support in multiple apps.</p>
        </div>
      </div>
      <div class="max-height-column skill-column">
        <div class="skill-card">
          <div class="skill-icon" id="node-icon"></div>
          <p>I can easily navigate through a command line interface and integrate third party libraries from NPM.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="web-icon"></div>
          <p>I can create single page web apps with Vue and React that interact with server side databases and cloud functions to create dynamic UI's.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="xd-icon"></div>
          <p>Adobe XD has easily become one of my favorite design tools over the past year. UI mockups can be displayed in realtime on mobile devices, and the user experience can easily be tested through direct interaction on clients phones without any code.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="designer-icon"></div>
          <p>The Affinity lineup has quickly become my favorite graphic design tool. I use it when building svgs for mobile apps and webpages.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="rails-icon"></div>
          <p>While attending UNCC as a CS major I developed a web app to manage bank transactions. This is where i first learned SSO, RESTful services, and db migrations and have built upon these skills in a professional setting.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="postman-icon"></div>
          <p>Postman is one of my favorite tools for managing and testing REST API's.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="OS-icon"></div>
          <p>I can easily using switch between Windows and Mac, and feel very comfortable navigating both environments. However I am heavily reliant on Mac for iOS development and UI prototyping.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="aws-icon"></div>
          <p>I have created proof of concepts using AWS cloud functions and dynamodb for client-server communications in mobile prototypes.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="vs-icon"></div>
          <p>VS Code is my favorite IDE for development, git management, and debugging.</p>
        </div>
        <div class="skill-card">
          <div class="skill-icon" id="unity-icon"></div>
          <p>I have experience with C# through building basic mobile games in Unity, and .NET being the foundation of the company I currently work for.</p>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SkillsGrid',
  components: {

  }
}
</script>

<style lang="scss">
@import '@/global.scss';
.skill-grid{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  justify-self: center;
  width: 100%;
  padding-right: 0px;
  z-index: 1;
}
@media only screen and (max-width:700px) {
  .skill-grid{
    flex-direction: column;
  }
}

.skill-container {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.skill-column {
  align-items: flex-start;
  flex: 1;
}
.skill-title {
  color: white;
  margin-bottom: 15px;
  margin-top: 10px;
  font-family: "Gilroy";
}
.skill-card {
  font-family: "Roboto";
  color: white;
  font-size: 16px;
  margin-bottom: 20px;
  padding-right: 20px;
}
#skill-row-container {
  padding-top: 40px;
  margin: 0px !important;
  padding: 0px !important;
}

.skill-icon{
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 48.4px;
  height: 48px;
}

#photoshop-icon{
  background-image: url('~@/assets/logos/photoshop-cc.png');
}

#android-icon{
  background-image: url('~@/assets/logos/android.png'); 
  width: 55px !important;
  height: 55px !important;
}

#xd-icon{
  background-image: url('~@/assets/logos/xd.png');
}

#ai-icon{
  background-image: url('~@/assets/logos/ai.png');
}

#ae-icon{
  background-image: url('~@/assets/logos/ae.png');
}

#aws-icon{
  background-image: url('~@/assets/logos/aws.png');
}

#postman-icon{
  background-image: url('~@/assets/logos/postman.png');
  width: 138.4px !important;
  height: 48px !important;
}

#flutter-icon{
  background-image: url('~@/assets/logos/flutter.png');
}

#google-cloud-icon{
  background-image: url('~@/assets/logos/google-cloud.png');
}

#blender-icon{
  background-image: url('~@/assets/logos/blender.png');
}

#OS-icon{
  background-image: url('~@/assets/logos/OS.png');
  width: 85px !important;
  height: 48px !important;
}

#web-icon{
  background-image: url('~@/assets/logos/web.png');
  width: 85px !important;
  height: 48px !important;
}

#IR-icon{
  background-image: url('~@/assets/logos/IR.png');
  width: 85px !important;
  height: 48px !important;
}

#version-icon{
  background-image: url('~@/assets/logos/version.png');
  width: 85px !important;
  height: 48px !important;
}

#heroku-icon{
  background-image: url('~@/assets/logos/heroku.png');
  width: 30px !important;
  height: 48px !important;
}

#html5-icon{
  background-image: url('~@/assets/logos/html5.png');
}

#designer-icon{
  background-image: url('~@/assets/logos/designer.png');
  width: 55px !important;
  height: 55px !important;
}
#node-icon{
  background-image: url('~@/assets/logos/node.png');
  width: 60px !important;
  height: 48px !important;
}
#rails-icon{
  background-image: url('~@/assets/logos/rails.png');
  width: 85px !important;
  height: 48px !important;
}
#slack-icon{
  background-image: url('~@/assets/logos/slack.png');
}
#swift-icon{
  background-image: url('~@/assets/logos/swift.png');
}
#unity-icon{
  background-image: url('~@/assets/logos/unity.png');
}
#vs-icon{
  background-image: url('~@/assets/logos/vs.png');
}
#pr-icon{
  background-image: url('~@/assets/logos/pr.png');
}



</style>
