<template>
  <div class="button-wrap">
    <button class="btn waves-effect waves-light" name="login-btn" id="download-btn">
      <a>DOWNLOAD RESUME</a>
    </button>
    <button class="btn waves-effect waves-light" name="login-btn" id="message-btn">
      <a>MESSAGE ME</a>
    </button>
  </div>
</template>

<script>
import 'materialize-css';
import 'materialize-css/dist/css/materialize.min.css';

export default {
  name: 'SplashButtons',
  components: {

  }
}
</script>

<style lang="scss">


</style>
