<template>
  <div class="player-container">
    <div v-bind:class="[loaded ? 'visible' : 'inVisible', 'video-player-container']">
      <video class='absolute' width="100%" height="100%" playsinline loop muted id="test-source" type="video/mp4"></video>
      <div class="video-cover absolute"></div>
    </div>
    <div v-bind:class="[!loaded ? 'visible' : 'inVisible', 'player-photo']">
      <PhotoCard v-bind:image="image" v-bind:id="title"/>
    </div>

  </div>
</template>

<script>
import PhotoCard from '@/components/PhotoCard.vue'

export default {
  name: 'VideoPlayer',
  props:{
    video: String,
    image: String,
    title: String
  },
  components: {
    PhotoCard
  },
  data() {
    return {
      loaded: false
    }
  },
  mounted(){
    this.loaded = false;
    var video = document.getElementById('test-source');
    video.setAttribute('src', this.video);
    video.load();

    var _this = this;
    video.addEventListener('loadeddata', function() {
      _this.loaded = true;
      video.play();
    }, false);
  },
  methods: {
    
  },
}
</script>

<style lang="scss">
.player-container{
  width: 100%;
  height: 100%;
}
.video-player-container{
  position: relative;
  width: 100%;
  height: 100%;
}
.absolute{
  position: absolute;
}
.video-cover{
  width: 100%;
  height: 100%;
  background-color:rgba(0,6,16,0.0);
}
.inVisible{
  opacity: 0.0 !important;
}
.visible{
  opacity: 1.0 !important;
}
</style>
