<template>
  <div id="app">
    <MenuLayout v-bind:route="$route.name"/>
    <Appbar v-bind:position="this.scrollY" v-bind:route="$route.name"/>
    <router-view/>
  </div>
</template>

<script>
import MenuLayout from '@/components/MenuLayout.vue'
import Appbar from '@/components/Appbar.vue'

export default {
  name: 'App',
  components: {
    MenuLayout,
    Appbar
  },
  data() {
    return {
      scrollY: 0.0
    }
  },
  init(){
    this.scrollY = 0.0;
  },
  mounted(){
    var _this = this;
    window.addEventListener('scroll', function(e) {
      _this.scrollY = window.scrollY;
    });
  },
}
</script>

<style lang="scss">
@font-face{
  font-family: 'Gilroy';
  src: url('~@/assets/fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'SofiaPro';
  src: url('~@/assets/fonts/SofiaPro-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face{ 
  font-family: "Roboto";
  src: url('~@/assets/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #04070F;
  overflow: hidden;
}

html {
  line-height: 1.15; 
  background-color: #04070F;
}
body {
  margin: 0;
  padding:0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-family: "Gilroy";
  color: white;
  margin: 0px !important;
  padding: 0px !important;
}

p {
  font-weight: normal;
  font-family: "Roboto";
  color: #b5b5c1; //#D6DEF4;
  margin: 0px !important;
  padding: 0px !important;
  font-size: 16px;
  line-height: 25px !important;
}

video{
  pointer-events: none !important;
  transform:scale(1.025) !important;
}

@media only screen and (max-width:700px) {
  p{
    line-height: 20px;
    font-size: 15px;
  }
}
span{
  color: white;
  font-family: "Roboto" !important;
  font-size: 16px;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:active,
select:-webkit-autofill:focus {
  background-color: white !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Opera and Firefox */
}
</style>

