$dark-background: rgb(4, 7, 15);
$red: #EF1D3E; //#ff1849;
$green: #1CBEB1;
$blue: #2979FF;
$max-width: 1400px;
$padding: 20px;

.page-details{
  width: 100%;
}
.page-container {
  display: flex;
  background-color: $dark-background;
  flex-direction: column;
  justify-content: center !important;
  align-content: flex-start !important;
  width: 100vw;
}
.honor-max-width {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 100%;
  max-width: 1050.0px !important;
  padding-left: 20px;
  padding-right: 20px;
  overflow: visible;
}
.center-column{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: start;
}
.max-width-row {
  width: 100% !important;
  display: flex;
  flex-direction: horizontal;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;

}
.max-height-column {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.btn {
  background-color: $red;
  a{
    color: white;
    font-family: "Gilroy" !important;
  }
}
input{
  color: white;
  border-bottom: 1px solid grey !important;
  box-shadow: 0 1px 0 0 grey !important;
  font-family: "SofiaPro" !important;
  a{
    color: white;
  }
}
input:focus {
  border-bottom: 1px solid rgb(130, 186, 231) !important;
  box-shadow: 0 1px 0 0 rgb(130, 186, 231) !important;
  font-family: "SofiaPro" !important;
  a{
    color: white;
  }
 }
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:active,
select:-webkit-autofill:focus {
  background-color: white !important;
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
.button-container{
  //margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;

}
.btn {
  background-color: $red;
}
h4{
  font-family: "Gilroy";
  color: white;
}
button{
  font-family: "Gilroy";
  color: white !important;
}
a{
  color: white;
}
.modal{
  background-color: #1B1D2B !important;
}
.modal-content {
  padding: 25px !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: flex-start;
  h4{
    font-size: 40px;
    transform: translate(-4px, 0px);
    color: rgb(130, 186, 231);
  }
}
.modal-footer {
  background-color: #1B1D2B !important;
  a{
    font-family: "Gilroy";
    color: rgb(130, 186, 231) !important;
  }
}
.btn {
  border-radius: 50px !important;
  height: 50px !important;
  width: 80% !important;
}
.btn:hover{
  background-color: $red !important;
}
.button-wrap{
  display: flex;
}
h3{
  font-size: 20px;
  margin-bottom: 30px !important;
}
.about-center{
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
.about-page-padding{
  margin-bottom: 10vh;
}
.about-row{
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}
.video-wide-container{
  width: 100%;
  height: 600px;
  background-color: black;
  margin-bottom: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.03), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}
.about-image{
  width: 370px !important;
  height: 790px !important;
  border-radius: 4px !important;
  overflow: hidden;
}
.about-column-left{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 30px;
}
.about-column-right{
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 30px;
}
.screenshots{
  margin-top: 20px;
}
h4{
  font-family: "Gilroy";
  font-size: 24px;
}
.about-title{
  margin-bottom: 20px;
}
.about-p {
  margin-bottom: 50px !important;
  margin-right: 20px !important;
  margin-top: 5px !important;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 200;
}
.about-image-container{
  margin-top: 50px;
  width: 100% !important;
}
.about-wide-col{
  width: 100% !important;
  margin-top: 100px;
  margin-bottom: 100px;
}
.page-content{
  transform: translate(0px, -10vh);
}
@media only screen and (max-width:700px) {
  .about-image{
    width: 222px !important;
    height: 480px !important;
  }
  .about-row{
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
  }
  .about-column-left{
    padding-right: 0px;
  }
  .about-column-right{
    padding-left: 0px;
    margin-top: 40px;
  }
  .small-reverse{
    flex-direction: column-reverse;
  }
  .small-padding{
    margin-bottom: 30px;
  }
  .about-image-container{
    margin-top: 30px;
  }
  .about-wide-col{
    margin-top: 40px;
    margin-bottom: 40px;
  }
}